* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }


body {
  font-family: 'Noto Sans', sans-serif;
}

/* Мобильное меню */

.mobile-menu {
  display: none;
}

/* Контейнер шапки */

.container {
  max-width: 89rem;
  margin: auto;
}

/* Навигация в шапке */
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240, 0.20);
  transition: background-color 0.2s, height 0.2s;
}

.navbar-light {
  background-color: #fff;
  color: #292D33;
  height: 4.625rem;
}

.phone-icon {
  fill: #5C8EE6;
}


.logo-svg {
  width: 9rem;
  height: 2.75rem;
}

.navbar-light .header-logo-path {
  fill: #292D33;
}

/* Контейнер шапки */
.header {
  padding-top: 4.875rem;
  min-height: 80vh;
}

.header-image {
  background-image: url('../img/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom 0.125rem;
  position: relative;
}

.header-image::before {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.60);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 0px 3.125rem;
  border-right: 1px solid  rgba(235, 235, 240, 0.20);
  height: 100%;
}

.header-nav {
  flex-basis: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
  height: 100%;
  align-items: center;
}

.header-nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.header-nav-item:not(:last-child) {
  margin-right: 6%;
}

.header-nav-link {
  text-decoration: none;
  font-size: 1.0625rem;
  font-weight: 300;
  color: inherit;
  line-height: 160%;
  word-spacing: .025rem;
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

.header-nav-link:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: .125rem;
  bottom: -0.0625rem;
  background-color: #5C8EE5;
  transform: scaleX(0);
  transition: transform 0.2s;
}

.header-nav-link:hover::after {
  transform: scaleX(1);
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: .625rem;
  text-decoration: none;
  margin-right: 3.125rem;
}

.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}

.button {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  color: #fff;
  background: #3A71D1;
  padding: 1.7rem 3.875rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}

.navbar-button {
  flex-shrink: 0;
  height: 100%;
  padding: 1.5625rem 2.75rem;
}
.navbar-button .button-icon {
  display: none;

}
.header-button {
  height: 100%;
}

/* Оновной блок (схема работы) */

.seporator {
  background: #5C8EE5;
  width: 10rem;
  height: .125rem;
  margin-left: 0.1rem;
  margin-top: 1.9rem;
}

.header-content {
  padding-top: 8.375rem;
  position: relative;
  z-index: 1;
  color: #fff;
}

.header-title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue Regular';
  font-size: 5rem;
  font-weight: 400;
  line-height: 120%;
  margin: 1.6rem 0.1rem;
  word-spacing: -0.025rem;
  margin-bottom: 2.3rem;
  letter-spacing: 0.1rem;
}

.header-text {
  max-width: 45rem;
  font-size: 1.0625rem;
  font-weight: 300;
  line-height: 160%;
  margin-bottom: 2.125rem;
  word-spacing: -0.0625rem;
}

.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.25rem;
  list-style: none;
  color: #fff;
  position: relative;
  margin-left: .4375rem;
}

.header-features-item {
  padding-top: 44px;
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  border: 1px solid rgba(235, 235, 240, 0.20);
  width: 18rem;
}

.slider-buttons {
  display: none;
  height: 44px;
}

.slider-button-prev, .slider-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.20);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-features-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 159%;
  margin-bottom: 0;
  margin-top: 1.125rem;
}

.section {
  margin-top: 9.1rem;
/*   margin-bottom: 9.375rem; */
}


.section-title, .section-title-one {
  font-family: 'Bebas Neue Regular';
  color: #292D33;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 123%;
  margin-top: 1.9rem;
  word-spacing: 0.3rem;
  letter-spacing: .0625rem;
  display: block;
}

.steps {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.875rem;
}

.steps-item {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0;
}

.steps-num {
  color: #5C8EE5;
  font-family: 'Bebas Neue Regular';
  font-size: 3rem;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: .5625rem;
}
.steps-num::after {
  content: '';
  height: 1px;
  background: #EBEBF0;
  width: 100%;
  margin-left: 1rem;
}

.steps-title {
  color: #292D33;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 2.0625rem;
  margin-left: .5625rem;
  margin-bottom: .625rem;
}


.steps-text {
  color: #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: .75rem;
  margin-left: .5625rem;
  margin-bottom: 1.25rem;
  word-spacing: .0625rem;
}

.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #5C8EE5;
  font-size: 1rem;
  font-weight: 600;
  line-height: 160%;
  margin-left: .5625rem;
  word-spacing: .125rem;
}

.button-link:before {
  content: '';
  height: .0625rem;
  background: #5C8EE5;
  width: 2.5rem;
  margin-right: 1.25rem;
  transition: width 0.2s;
}

.button-link:hover::before {
  width: 3.75rem;
}

.primary-buttons-wrapper {
  height: 60px;
  display: flex;
  justify-content: flex-end;
}

.primary-button-prev, 
.primary-button-next {
  background-color: #5C8EE5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 80px;
  height: 100%;
}

.steps-buttons {
  display: none;
}

/* Контейнер основной (Контрактное производство)*/

.production {
  margin-bottom: -1.3rem;
  margin-top: 5.5rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  position: relative;
  text-decoration: none;
  transition: border 0.2s;
  height: 37.7rem;
}

.card:hover .card-title {
  color: #5C8EE5;
}

.card:hover {
  border-color: #5C8EE5;
}

.card-content {
  padding: 2.5rem 3.125rem 7.5rem;
}

.card-title {
  color: #292D33;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: .625rem;
  transition: color 0.2s;
}

.card-text {
  color: #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

.card-image {
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}


/* Контейнер основной (Собственные торговые марки) */

.trademark {
  margin-top: 9.125rem;
}

.trademark-cards {
  display: flex;
}

.trademark-card {
  flex-basis: 50%;
  border: 1px solid #EBEBF0;
  text-decoration: none;
  transition: border 0.2s;
  padding: 3.125rem;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 3.125rem;
  grid-template-areas: 
  "logo title title"
  "logo text text";
}

.trademark-card-logo {
  grid-area: logo;
  fill: #828A99;
  width: 100%; 
}

.trademark-card-title {
  display: grid;
  grid-area: title;
  align-self: center;
  color: #292D33;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}

.trademark-card-text {
  grid-area: text;
  color:  #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: .625rem;
}
.section-title-two {
  font-family: 'Bebas Neue Regular';
  color: #292D33;
  font-size: 3.75rem;
  font-weight: 400;
  line-height: 120%;
  margin-top: 0.9rem;
  word-spacing: .625rem;
  letter-spacing: .0625rem;
  display: none;
}

.trademark-card:hover {
  border-color: #5C8EE5;
}
.trademark-card:hover .trademark-card-logo {
  fill: #5C8EE6;
}
.trademark-card:hover .trademark-card-title {
  color: #5C8EE6;
}


/* Контейнер основной (Основатель)*/
.founder {
  min-height: 41.25rem;
  position: relative;
  margin-top: 10.9375rem;
}

.founder-photo {
  position: absolute;
  left: 0;
  width: 40%;
  top: -0.8rem;
  height: 100%;
  width: 44%;
  object-fit: cover;
}

.founder-content {
  max-width: 44rem;
}

.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.founder-text {
  color: #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%; 
}

/* Контейнер основной (Клиенты)*/

.clients {
  margin-top: 8rem;
}

.clients-wrapper {
  display: flex;
  gap: 3.125rem;
}

.clients-content {
  flex-basis: 50%;
}

.clients-list {
  list-style-type: none;
  padding: 0;
  columns: 2 auto;
}

.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  color: #292D33;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  padding-bottom: 1.25rem;
}

.clients-logo-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 10;
  padding-top: 1.375rem;


}

.clients-logo-item {
  flex-basis: 33%;
  border: 1px solid #EBEBF0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
  filter: grayscale(100%);
  transition: filter 0.2s;
}

.clients-logo-item:hover {
  filter: grayscale(0%);
}

.clients-logo {
  max-width: 100%;
}


/* Контейнер основной (Блог)*/
.blog {
  margin-top: 9.875rem;
}

.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}

.blog-card::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.60);
  z-index: -1 ;
}

.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-card-title {
  color: #FFF;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: .625rem;
  margin-top: 0;
}

.blog-card-text {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin: 0;
}

.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}

/* Контейнер основной (Обратная связь)*/

.bg-grey {
  background: #F0F2F5;
  position: relative;
}

.section-cta {
  position: relative;
  padding-top: 3.25rem;
  padding-bottom: 5.25rem;
  margin-top: 14.375rem;
}

.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
  display: block;
}

.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;

}

.cta-form {
  max-width: 52.5rem;
}

.cta-form-text {
  color: #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin-top: 1.375rem;
  margin-bottom: 2.5rem;
  max-width: 40rem;
}

.input-group-wrapper {
  display: flex;
  gap: 1.875rem;

}

.input-group {
  position: relative;
  height: 4.125rem;
  flex-grow: 1;
  background-color: #F0F2F5;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #E4E4EB;
  background-color: transparent;
}

.input-group-label {
  position: absolute;
  cursor: text;
  left: 2rem;
  top: 1.3rem;
  color: #828A99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}

.input:focus {
  border: 1px solid #5C8EE5;
  outline: 0;
}

.input:focus ~ .input-group-label,
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.5rem;
  left: 1.25rem;
  font-size: 10px;
  background-color: inherit;
  padding: 0 .625rem;
}

.cta-form-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  gap: 1.875rem;
}

.cta-form-button{
  flex-shrink: 0;
}

.notify {
  display: flex;
  align-items: flex-start;
  gap: .625rem;
}

.notify-icon {
  flex-shrink: 0;

}

.notify-text {
  max-width: 23.75rem;
  margin: 0;
  color: #828A99;
  font-size: 12px;
  font-weight: 400;
  line-height: 160%;
}

/* Медиа запросы */

@media (max-width: 1750px) {
  html {
    font-size: 14px;
  }
  .header-image {
    background-position: center;
  }
  .header {
    min-height: 70vh;
  }
  .container {
    max-width: 92rem;
    margin: auto;
  }
}

@media (max-width: 1550px) {
  html {
    font-size: 13px;
  }
  .header {
    min-height: 60vh;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 7.5rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 6%;
  }
  .header-phone {
    margin-right: 2rem;
  }
}

@media (max-width: 1415px) {
  html {
    font-size: 12px;
  }
  .header {
    min-height: 50vh;
  }
  .container {
    max-width: 84rem;
    margin: auto;
  }
  .clients-content {
    flex-basis: 62%;
  }
  
}

@media (max-width: 1240px) {
  .header-phone {
    display: none;
  }
  .navbar {
    height: 7.5rem;
  }
  .navbar-button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .container {
    max-width: 70rem;
  }

  .card {
    flex-basis: 50%;
  }
  .trademark-card {
    grid-template-columns: auto auto;
  }
  .founder-content {
    max-width: 35rem;
  }
  .clients-content {
    flex-basis: 113%;
  }

  .cta-image {
    left: -9.25rem;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 10px;
  }
  .container {
    max-width: 76rem;
  }
  .trademark-cards {
    flex-direction: column;
  }
  .trademark-card-text {
    font-size: 1.50rem;
  }
  .slider-buttons {
    display: flex;
  }

}

@media (max-width: 890px) {
  html {
    font-size: 9px;
  }
  .container {
    max-width: 60rem;
  } 
  .header-nav-item:not(:last-child) {
    margin-right: 4%;
  }


  .card-stamps {
    flex-basis: 100%;
  }

  .clients-wrapper {
    flex-direction: column;
  }

  .primary-buttons-wrapper {
    height: 40px;
  }

  .primary-button-prev, 
  .primary-button-next { 
  width: 60px;
}

  .steps-buttons {
    display: flex;
  }

  .cta-image {
    display: none;
  }

  .cta-form-wrapper {
    display: flex;
    justify-content: center;
  }

}

@media (max-width: 750px) {
  .container {
    max-width: 90%;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg {
    max-width: 10.5rem;
  }
  .navbar-button {
    padding-left: 3.5rem;
    padding-right: 3.5rem;
  }
  .seporator {
    height: 0.23rem;
    margin-top: 5.9rem;
  }
  .header-title {
    font-size: 5rem;
  }
  .header-text {
    font-size: 1.5rem;
  }
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.7rem 3.875rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.8rem 3.3rem;
    border-right: 1px solid rgba(235, 235, 240, 0.20);
  }

  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #fff;
  }
  .header-logo {
    border-right: none;
  }
  .mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
  }

  .mobile-menu.is-open {
    display: block;
  }

  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }

  .mobile-menu-link {
    text-decoration: none;
    color: #292D33;
    font-size: 14px;
    font-weight: 700;
    line-height: 160%; 
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828A99;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
  .mobile-phone {
    color: #292D33;
    font-size: 20px;
    font-weight: 600;
    line-height: 160%;
    text-decoration-line: underline;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address, .mobile-info-email {
    font-style: normal;
    text-decoration: none;
    color: #292D33;
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: .75rem;
  }
  .mobile-seporator {
    border-top: 1px solid #EBEBF0;
    margin-bottom: 3rem;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(12px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);;
  }

  .header-content {
    padding-top: 3rem;
  }

  .header-features-item {
    padding-top: 1rem;
    padding-left: 2.25rem;
    padding-bottom: 1.25rem;
    display: flex;
    flex-direction: column;
    flex-basis: 70%;
  }
  .header-features-text {
    font-size: 1.5rem;
  }
  .section-title {
    font-size: 3.8rem;
  }
  .steps-num {
    font-size: 5rem;
  }
  .steps-title {
    font-size: 2rem;
  }
  .steps-text {
    font-size: 1.5rem;
  }
  .steps-link {
    font-size: 1.5rem;
  }

  .card {
    flex-basis: 100%;
    height: 47.8125rem;
  }
  .card-title {
    font-size: 2rem;
  }
  .card-text {
    font-size: 1.5rem;
  }
  .card-image {
    width: 80%;
  }
  .section-title {
    display: none;
  }
  .section-title-two {
    display: block;
    font-size: 4.0625rem;
    font-weight: 500;
    letter-spacing: -.0625rem;
  }
  .section-title-one {
    display: none;
  }
  .section-title {
    display: block;
  }
  .trademark-card {
    grid-template-areas: 
    "logo title"
    "text text";
  }
  .trademark-card-title {
    font-size: 2.625rem;
    line-height: 3.42rem;
  }

  .founder-photo {
    position: relative;
    width: 100%;
  }

  .founder-content-wrapper {
    justify-content: start;
  }

  .founder-content {
    max-width: 100%;
  }
}

@media (max-width: 570px) {
  .container {
    max-width: 90%;
  }
  .header-content {
    padding-top: 2rem;
  }
  .trademark-card{
    grid-template-columns: 100px auto;
    padding: 1.875rem;
  }
  .clients-list {
    columns: 1;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }

  .founder-text {
    font-size: 1.5rem;
  }

  .input-group-wrapper {
    display: flex;
    flex-direction: column;
  }

  .cta-form-text {
    font-size: 1.5rem;
  }

  .cta-form-footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .notify-text {
    max-width: 100%;
  }

  .button-link {
    font-size: 1.5rem;
  }
}
